:root {
    --LightBlue: #B9E2E2;
    --LighterBlue: #F4FEFE;
    --Aqua: #49BDBE;
    --DarkJade: #268C8D;
    --DarkBlue: #2B75B9;
    --Saldo: #00B91E;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: var(--LightBlue);
    font-family: inter;
}

#header {
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#profile-picture {
    display: inline-block;
    width: 10vw;
    aspect-ratio: 1 / 1;
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    background-color: gray;
    overflow: hidden;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

#profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links {
    list-style-type: none;
    display: inline-block;
    font-weight: 600;
    font-size: clamp(18px, 1.5vw, 24px);
    vertical-align: middle;
}

.links li {
    margin-top: 10px;
}

a:link, a:visited {
    color: var(--DarkBlue);
}

.saldo-container {
    display: flex; /* Flex container for saldo and main buttons */
    align-items: center; /* Center aligns them vertically */
    justify-content: center; /* Center aligns them horizontally */
    flex-grow: 1; /* Allow this container to take available space */
}

.saldo {
    display: inline-block;
    vertical-align: middle;
    font-size: clamp(16px, 1.5vw, 24px);
    margin-right: 20px; /* Space between saldo and main buttons */
}

.saldo p {
    display: inline;
}

#hours {
    color: var(--Saldo);
}

#main-btns {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin-right: 20px; /* Adjust this value as needed for a bigger gap */
    justify-content: center; /* Ensures the main buttons are centered in their space */
    flex-grow: 1; /* Allow main-btns to grow and take available space between saldo and settings */

}

.home-btn,
.add-btn {
    display: inline-block;
    width: 10vw; /* Use relative width that can shrink */
    max-width: 80px; /* Set max width for larger screens */
    min-width: 50px; /* Set a minimum width to prevent buttons from becoming too small */
    vertical-align: middle;
    border: solid 1px var(--DarkJade);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-shrink: 1; /* Allow buttons to shrink */
}

.home-btn:hover,
.add-btn:hover {
    cursor: pointer;
    transform:scale(1.05);
    transition: transform 0.5s;
    background-color: var(--LighterBlue);
}

.home-btn img,
.add-btn img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#settings-btn {
    display: inline-block;
    width: 40px;
    height: auto;
    min-width: 20px;
    min-height: auto;
    vertical-align: middle;
    margin-left: auto;
}

#settings-btn img {
    width: 100%;
    height: auto;
}

#settings-btn:hover {
    filter : hue-rotate(200deg);
}