:root {
    --LightBlue: #B9E2E2;
    --LighterBlue: #F4FEFE;
    --Aqua: #49BDBE;
    --DarkJade: #268C8D;
    --DarkBlue: #2B75B9;
    --Saldo: #00B91E;
    --LightestBlue: #D1ECEC;
    --Reb: #BC1616;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: var(--LightBlue);
    font-family: inter;
}

#Register-form {
    display: block;
    border: solid 1px var(--DarkJade);
    border-radius: 5px;
    max-width: 500px;
    background-color: var(--LighterBlue);
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#Register-form h1{
    color: var(--DarkJade);
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0;
    padding: 10px;
    border-bottom: solid 1px var(--DarkJade);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--LightestBlue);
}

.register-wrapper {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.register-wrapper:hover {
    cursor: default;
}

.input-box {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 2px;
    font-size: 16px;
}

#post_ {
    display: block;
    margin: auto;
    width: 30%;
    font-size: clamp(18px, 1.5vw, 24px);
    padding: 10px;
    background-color: var(--Reb);
    color: white;
    border: none;
    border-radius: 5px;
}

#post_:hover{
    background-color: #971111;
}